.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    padding-top: 56px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 600px) {
    /* стили для малого смартфона */
    .header {
        padding: 0 16px;
    }
}