.intro {
    margin: 0 auto 0 148px;
    padding-top: 0px;
    padding-bottom: 92px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 0 auto 0 48px;
    }
}

@media screen and (max-width: 768px) {
    /* стили для планшета */
    .intro {
        margin: 0 auto 0 24px;
    }
}

@media screen and (max-width: 600px) {
    /* стили для любого смартфона */
    .intro {
        margin: 0 auto 0 16px;
    }
}