.website__url-heading {
  min-height: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  /* identical to box height, or 100% */
  grid-row-start: 2;
  letter-spacing: 0.2em;

  color: #aaaaaa;
}
