.lead__subtitle {
    padding: 0;
    margin-top: 0;
    margin-bottom: 64px;
    max-width: 640px;
    /* min-height: 72px; */
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    /* or 120% */
    text-align: center;
    color: #ffffff;
}

@media (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media (max-width: 600px) {
    /* стили для любого смартфона */
    .lead__subtitle {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 1.25;
    }
}