.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 0px;
    margin-bottom: 92px;
    background-image: url(../../images/cover__background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    min-height: 740px;
    text-decoration: none;
    justify-content: center;
    font-family: "Inter", Arial, sans-serif;
}

@media screen and (min-width: 1280px) {
    .cover {
        height: 640px;
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    .cover {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    /* стили для планшета */
    .cover {
        padding-bottom: 88px;
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 600px) {
    /* стили для малого смартфона */
    .cover {
        padding-bottom: 64px;
        max-width: 600px;
        min-height: 200px;
    }
}