.cover__title {
  max-width: 500px;
  min-height: 152px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  /* or 106% */
  z-index: 2;
  margin: 0;
  text-align: center;
  margin-top: 245px;

  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  /* стили для планшета в альбомной ориентации */
  .cover__title {
    margin-top: 195px;
  }
}
@media screen and (max-width: 768px) {
  /* стили для планшета */
  .cover__title {
    margin-top: 115px;
  }
}

@media screen and (max-width: 320px) {
  /* стили для малого смартфона */
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 33px;
    max-width: 288px;
    min-height: 70px;
  }
}
