.place {
    font-family: "Inter", Arial, sans-serif;
    margin: 0 auto;
    padding: 0px 148px 0px 148px;
    /* padding-bottom: 80px; */
    display: grid;
    justify-content: center;
    max-width: 984px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: min-content min-content; */
    /* grid-template-rows: max-content max-content; */
    gap: 48px 40px;
    align-content: space-between;
    margin-top: 25px;
}

.place:last-child {
    padding-bottom: 0px;
}

@media screen and (max-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    .place {
        padding: 0px 48px 0px 48px;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    /* стили для планшета */
    .place {
        gap: 48px 28px;
        padding: 0px 24px 0px 24px;
        /* max-width: 440px; */
        /* grid-template-columns: 440px 440px;
  grid-template-rows: 76px 440px; */
    }
}

@media screen and (max-width: 320px) {
    /* стили для малого смартфона */
    .place {
        gap: 32px;
        max-width: 320px;
        grid-template-columns: 1fr;
        padding: 0px 16px 0px 16px;
    }
}