.footer {
    margin: 92px 48px 0 48px;
    /* padding-bottom: 24px; */
    display: flex;
    justify-content: space-between;
    font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    /* стили для планшета */
    .footer {
        margin: 92px 24px 24px 24px;
    }
}

@media screen and (max-width: 600px) {
    /* стили для любого смартфона */
    .footer {
        flex-flow: column nowrap;
        margin: 62px 16px 0 16px;
    }
}