.footer {
    margin: 0 auto 0 auto;
    padding: 0px 48px 24px 48px;
    /* padding-bottom: 24px; */
    display: flex;
    justify-content: space-between;
    font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    /* стили для планшета */
    .footer {
        padding: 0px 24px 24px 24px;
    }
}

@media screen and (max-width: 600px) {
    /* стили для любого смартфона */
    .footer {
        flex-flow: column nowrap;
        flex-direction: column;
        padding: 0px 16px 0px 146px;
    }
}